[Unit]
Description=Mconf recording decrypter

[Service]
Type=simple
ExecStart=/usr/local/bigbluebutton/core/scripts/mconf-decrypter.rb
WorkingDirectory=/usr/local/bigbluebutton/core/scripts
User=tomcat7
